body {
    margin: 0px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
}

@keyframes login-open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #1a0933, #342f81, #1c1b3a);
    border-radius: 15px;
    position: fixed;
    animation: login-open 3s;
}

.bar-left {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dragbar-block {
    background-color: rgba(0, 255, 255, 0);
    position: fixed;
    width: 90%;
    height: 7%;
    left: 0px;
    -webkit-app-region: drag;
}

.icon-minimize {
    background: url('../../../assets/icons/btn_minimize_app.png'), no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    position: fixed;
    top: 3%;
    left: 90%;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0.5;
    border-radius: 4px;
}

.icon-minimize:hover {
    background-color: #25252562;
    opacity: 1;
}

.icon-close {
    background: url('../../../assets/icons/btn_close_app.png'), no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    position: fixed;
    top: 3%;
    left: 95%;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0.5;
    border-radius: 4px;
}

.icon-close:hover {
    background-color: #c0000062;
    opacity: 1;
}

.info {
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
    position: fixed;
    top: 15%;
    left: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.login-btn {
    background: #00910e;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px;
    transition: background 0.3s;
    width: 50%;
    height: 50px;
    top: 55%;
    left: 25%;
    position: fixed;
    opacity: 1;
}

.login-btn:hover {
    background: #00660a;
}

.box {
    background: rgba(50, 50, 50, 0.5);
    position: fixed;
    width: 100%;
    height: 10%;
    top: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.test1 {
    position: fixed;
    left: 7%;
    font-size: 14px;
    width: fit-content;
    top: 94%;
    margin: 0px;
    color: white;
}

.test2 {
    position: fixed;
    left: 18%;
    font-size: 14px;
    width: fit-content;
    top: 94%;
    margin: 0px;
    color: white;
}

.test4 {
    position: fixed;
    left: 75%;
    font-size: 14px;
    width: fit-content;
    top: 94%;
    margin: 0px;
    color: white;
}

.test5 {
    position: fixed;
    left: 85%;
    font-size: 14px;
    width: fit-content;
    top: 94%;
    margin: 0px;
    color: white;
}